.highscores {
  &__title {
    margin-bottom: 25px;
  }

  &__table {
    max-width: 500px;
    margin-bottom: 40px;
  }

  .table__th--ordinal-number {
    min-width: 50px;
  }
}

.highscore {
  position: relative;
}
