.footer {
  // background: linear-gradient(45deg, $black, $grey-smolder);
  color: $text-grey-lighter;
  padding: 56px 0 32px 0;

  @include tablet {
    padding: 32px 0;
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
  }

  &__logo {
    display: block;
    width: 60px;
    height: auto;
  }

  ul {
    @include list-reset;
  }

  &__row:not(:last-child) {
    padding-bottom: 56px;

    @include tablet-landscape {
      padding-bottom: 58px;
    }

    @include tablet {
      padding-bottom: 32px;
    }
  }

  &__row--copyright {
    padding-bottom: 32px;

    @include laptop {
      padding-top: 30px;
    }

    @include tablet {
      padding-top: 16px;
    }
  }
}
